.contato {
  margin-top: 120px;
  margin-bottom: 120px;
  @include device(s) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.contato form {
  label {
    @include type-1(18);
    display: block;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    @include type-1(18);
    color: $marrom;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: 2px solid $bege-escuro;
    background: transparent;
    margin-bottom: 1em;
    &:hover,
    &:focus {
      outline: none;
      border-color: $bege-medio;
    }
  }
  textarea {
    height: 120px;
  }
}

input.button {
  @include type-1(18);
  cursor: pointer;
  color: $bege-escuro;
  text-transform: uppercase;
  border: 2px solid $bege-escuro;
  background: transparent;
  display: block;
  width: 200px;
  padding-top: 5px;
  @include box-shadow(5px 5px 0 -2px $bege-medio, 5px 5px 0 0 $bege-escuro);
  transition: 0.3s;
  &:hover {
    @include box-shadow(3px 3px 0 -2px $bege-medio, 3px 3px 0 0 $bege-escuro);
  }
}

.contato-info {
  display: inline-block;
  color: $bege-escuro;
  margin-top: 2em;
  margin-bottom: 3em;
  @include device(l) {
    float: right;
    text-align: right;
    margin-top: -3em;
  }
}

.contato-mapa {
  display: block;
  @include box-shadow(0 0 0 10px $bege-medio);
  clear: both;
  img {
    width: 100%;
  }
}
