.intro {
  margin-top: 60px;
  @include device(s) {
    margin-top: 25px;
  }
}

.logo {
  margin-bottom: 60px;
  @include device(s) {
    margin: 0 auto 35px;
    width: 30%;
  }
}

.intro-info {
  border-right: 2px solid $marrom;
  max-width: 320px;
  p {
    padding-top: 10px;
  }
  p:first-child {
    border-bottom: 2px solid $marrom;
    padding-bottom: 10px;
  }
}

.intro-telefone {
  color: $bege-escuro;
  @include device(s) {
    margin-bottom: 40px;
  }
  &::after {
    content: "/ / / /";
    display: block;
    margin-top: 200px;
    font-size: 220px;
    letter-spacing: -90px;
    color: $marrom;
    @include device(m) {
      margin-top: 80px;
      font-size: 160px;
      letter-spacing: -70px;
    }
    @include device(s) {
      display: none;
    }
  }
}

.aberto {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: $verde;
  border-radius: 50%;
  margin-left: 30px;
}

.intro-foto {
  border: 10px solid $bege-medio;
  width: 100%;
}
